<head>  
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-icon-57x57-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-icon-72x72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-icon-114x114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-icon-144x144-precomposed.png" />

  <link rel="icon" href="/favicon.ico">

  <title>Shopping List</title>

  <style>
    .light-text {
      color: #9E9E9E !important;
    }
    .big-detail-text {
      font-size: 2em;
    }
    #last-detail {
      padding-bottom: 10px;
    }
  </style>
</head>

<template name="itemdetail">
  <nav class="nav-extended" style="position: fixed; top: -5px;">
   <div class="nav-wrapper" style="background-color: #2196F3">
     <a href="#" class="left brand-logo" id="main-title">Shopping List</a>
   </div>
   <div class="nav-content" style="background-color: #1976D2;">
     <ul class="tabs tabs-transparent">
       <li class="tab"><a href="/list">View List</a></li>
       <li class="tab"><a href="/newitem">Add an item</a></li>
     </ul>
   </div>
 </nav>

 <br><br><br><br><br>

 <div class="row">
   <div class="col s12 m6 offset-m3">
     <div class="card grey lighten-5">
       <div class="card-content black-text">
         <span class="card-title" id="add-title">Item Details</span>
         <p class="light-text">Item Name</p>
         <p class="big-detail-text">{{title}}</p>
         <p class="light-text">Added By</p>
         <p class="big-detail-text">{{addedby}}</p>
         <p class="light-text">Add Date</p>
         <p class="big-detail-text">{{date}}</p>
         <p class="light-text">Notes / Additional Info</p>
         <p class="big-detail-text" id="last-detail">{{moreinfo}}</p>
       </div>
     </div>
   </div>
 </div>
</template>
