<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-icon-144x144-precomposed.png" />

    <link rel="icon" href="/favicon.ico">

    <title>Shopping List</title>

    <style>
      #main-title {
        padding-left: 20px;
        padding-top: 3px;
      }
      body {
        background-color: #EEEEEE;
      }
      li {
        padding: 0px;
        margin: 0px;
      }
      .card {
        padding: 0px;
        margin-bottom: -20px !important;
      }
      .card-content {
        margin: 0px !important;
        padding-top: 8px !important;
        padding-left: 10px !important;
        padding-bottom: 0px !important;
        padding-right: 5px !important;
      }
      .card-action {
        margin: 0px !important;
        padding: 0px !important;
        padding-left: 15px !important;
        padding-bottom: 5px !important;
        padding-top: 5px !important;
      }
      .card-title {
        margin-bottom:7px !important;
        margin-top: -5px !important;
        font-size: 2em !important;
        margin-right: 35px;
        overflow-x: auto;
        overflow-y: hidden;
      }
      .card-subtitle {
        margin: 0px !important;
        padding: 0px !important;
        color: #9E9E9E !important;
        display: inline-block;
        position: absolute;
      }
      .card-dis-subtitle {
        margin: 0px !important;
        padding: 0px !important;
        color: #263238   !important;
        display: inline-block;
        position: absolute;
      }
      .author {
        margin: 0px !important;
        padding: 0px !important;
        color: #9E9E9E !important;
        display: inline-block;
        width: 15em;
        overflow-x: auto;
        overflow-y: hidden;
        margin-left: 65px !important;
      }
      .dis-author {
        margin: 0px !important;
        padding: 0px !important;
        color: #263238   !important;
        display: inline-block;
        width: 15em;
        overflow-x: auto;
        overflow-y: hidden;
        margin-left: 65px !important;
      }
      .content-divider {
        color: #9E9E9E;
        font-size: 1.5em;
        text-align: center;
      }
      .valign-wrapper {
        margin-top: -100px;
      }
      .checkbutton {
        border: none;
        background-color: Transparent;
        position: relative;
        top: -38px;
        padding: 0px;
      }
      .row {
        margin-bottom: 22px !important;
      }
      i {
        font-size: 32px !important;
        padding: 0px;
        margin: 0px;
      }

    </style>
</head>

<template name="list">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>

 <!-- header -->
 <nav class="nav-extended" style="position: fixed; top: -5px; z-index: 11;">
   <div class="nav-wrapper" style="background-color: #2196F3; z-index: 11;">
     <a href="#" class="left brand-logo" id="main-title">Shopping List</a>
   </div>
   <div class="nav-content" style="background-color: #1976D2;">
     <ul class="tabs tabs-transparent">
       <li class="tab"><a href="/list">View List</a></li>
       <li class="tab"><a href="/newitem">Add an item</a></li>
     </ul>
   </div>
 </nav>

 <br><br><br><br><br>

 <p class="content-divider">Currently Active Items</p>

 <!-- items -->
 <div class="valign-wrapper" style="width:100%;height:100%;position: relative;z-index: 5;" id="list-container">
   <div class="valign" style="width:100%;">
     <div class="container">
       <ul>
         {{#each items}}
           {{> item}}
         {{/each}}
       </ul>
     </div>
   </div>
 </div>

 <br><br><br><br><br><br>

 <p class="content-divider">Previously Completed Items</p>

 <div class="valign-wrapper" style="width:100%;height:100%;position: relative;z-index: 5;" id="list-container">
   <div class="valign" style="width:100%;">
     <div class="container">
       <ul>
         {{#each disitems}}
           {{> disitem}}
         {{/each}}
       </ul>
     </div>
   </div>
 </div>

 <br><br><br><br>
 <div class="center-block">
   <p class="center" style="color: #BDBDBD;">jmatt.xyz</p>
 </div>

</template>



<template name="item">
  <p class="itemId" hidden="true">{{_id}}</p>
  <li>
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card grey lighten-5">
          <div class="card-content black-text">
            <span class="card-title">{{title}}</span>
            <button class="checkbutton" id="checkbutton" style="float: right;">
              <i class="material-icons">check_box_outline_blank</i>
            </button>
            <p class="card-subtitle">Added by</p>
            <p class="author"><strong>{{addedby}}</strong></p>
          </div>
          <div class="card-action">
            <a id="moreInfoButton" style="color: #FF4081; cursor: pointer; visibility: {{hasMoreInfo}}">More Info</a>
          </div>
        </div>
      </div>
    </div>
  </li>
</template>

<template name="disitem">
  <p class="itemId" hidden="true">{{_id}}</p>
  <li>
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">{{title}}</span>
            <button class="checkbutton" id="checkbutton" style="float: right;">
              <i class="material-icons">check_box</i>
            </button>
            <p class="card-dis-subtitle">Added by</p>
            <p class="dis-author"><strong>{{addedby}}</strong></p>
          </div>
          <div class="card-action">
            <a id="moreInfoButton" style="color: #FFC107; cursor: pointer; visibility: {{hasMoreInfo}}">More Info</a>
            <a id="deleteButton" class="right" style="position: relative; color: #FFC107; float: right; cursor: pointer; margin-right: 0px !important; left: 20px;">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </li>
</template>
