<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-icon-144x144-precomposed.png" />

    <link rel="icon" href="/favicon.ico">

    <title>Shopping List</title>

    <style>
      #main-title {
        padding-left: 20px;
        padding-top: 3px;
      }
      #list-container {
        position: relative;
        top: 72px;
        z-index: -1;
      }
      #card-subtitle {
        color: #9E9E9E !important;
        padding-bottom: 20px !important;
      }
      .required {
        color: #E57373 !important;
      }
      #add-title {
        padding-top: 7px !important;
      }
      #add-action {
        padding-top: 15px !important;
        padding-bottom: 30px !important;
      }
    </style>
</head>

<template name="newitem">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>

  <nav class="nav-extended" style="position: fixed; top: -5px;">
   <div class="nav-wrapper" style="background-color: #2196F3">
     <a href="#" class="left brand-logo" id="main-title">Shopping List</a>
   </div>
   <div class="nav-content" style="background-color: #1976D2;">
     <ul class="tabs tabs-transparent">
       <li class="tab"><a href="/list">View List</a></li>
       <li class="tab"><a href="/newitem">Add an item</a></li>
     </ul>
   </div>
 </nav>

 <br><br><br><br><br>

 <div class="row">
   <div class="col s12 m6 offset-m3">
     <div class="card grey lighten-5">
       <div class="card-content black-text">
         <span class="card-title" id="add-title">Add a new item</span>
         <p id="card-subtitle">Required fields marked with a <span class="required">*</span></p>
         <p>Item Name <span class="required">*</span></p>
         <input id="titleBox" placeholder="">
         <p>Your Name <span class="required">*</span></p>
         <input id="nameBox" placeholder="">
         <p>Additional Notes / Info</p>
         <input id="infoBox" placeholder="">
       </div>
       <div class="card-action" id="add-action">
         <a class="right" id="newitem" style="color: #FF4081; cursor: pointer;">Add Item</a>
       </div>
     </div>
   </div>
 </div>

</template>
